<% if bills.any? %>
  <div class="bills">
    <table class="default-dg-table">
      <tr class="dg_tr bills-tr-head-style" id="di_row_">
        <th class="bills-th-style default_dg_th dg-left dg-nowrap dg1">
          <%= t "admin.bills.bill_code" %>
        </th>
        <th class="bills-th-style default_dg_th dg-left dg-nowrap dg1">
          <%= t "admin.bills.customer_name" %>
        </th>
        <th class="bills-th-style default_dg_th dg-left dg-nowrap dg1">
          <%= t "admin.bills.customer_code" %>
        </th>
        <th class="bills-th-style default_dg_th dg-left dg-nowrap dg1">
          <%= t "admin.bills.voucher" %>
        </th>
        <th class="bills-th-style default_dg_th dg-left dg-nowrap dg1">
          <%= t "admin.bills.total_price" %>
        </th>
        <th class="bills-th-style default_dg_th dg-left dg-nowrap dg1">
          <%= t "admin.bills.time_created" %>
        </th>
        <th class="bills-th-style default_dg_th dg-left dg-nowrap dg1">
          <%= t "admin.bills.action" %>
        </th>
      </tr>
      <% bills.each do |bill| %>
        <tr class="dg_tr" id="di_row_">
          <td class="bills-td-style default_dg_th dg-left dg-nowrap dg1">
            <span class="bills-type-combo">#<%= bill.id%></span>
          </td>
          <td class="bills-td-style default_dg_th dg-left dg-nowrap dg1">
            <%= bill.customer.name %>
          </td>
          <td class="bills-td-style default_dg_th dg-left dg-nowrap dg1">
            #<%= bill.customer.code %>
          </td>
          <td class="bills-td-style default_dg_th dg-left dg-nowrap dg1">
            -<%= bill.discount %>%
          </td>
          <td class="bills-td-style default_dg_th dg-left dg-nowrap dg1">
            $<%= bill.total %>
          </td>
          <td class="bills-td-style default_dg_th dg-left dg-nowrap dg1">
            <%= bill.created_at %>
          </td>
          <td class="bills-td-style default_dg_th dg-left dg-nowrap dg1">
            <%= link_to t("admin.bills.details"), admin_bill_url(bill),
              class: "btn-sm btn-success bills-button-detail" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
