<section class="section admin-site">
  <div class="col-sm-12 col-md-offset-3
    col-md-6 col-md-offset-1">
    <h1><%= t ".title" %></h1>
    <div class="bloc col-xs-12">
      <div class="bills col-md-12">
        <div class="bills-header col-md-12">
          <div class="bills-header-left col-md-6">
            <span class="bill-id-style">#<%= @bill.id %></span>
          </div>
          <div class="bills-header-right col-md-6">
            <span class="bills-header-right-created-at">
              <%= @bill.created_at.strftime I18n.t("date_full") %>
            </span>
          </div>
          <div class="bills-header-customer-info">
            <b class="bills-header-style">
              <%= t "admin.bills.customer_code" %>:
            </b>
            <span> #<%= @bill.customer.code %></span> <br />
            <b class="bills-header-style">
              <%= t "admin.bills.customer_name" %>:
            </b>
            <span><%= @bill.customer.name %></span> <br />
            <b class="bills-header-style">
              <%= t "admin.bills.phone" %>:
            </b>
            <span><%= @bill.customer.phone_num %></span>
          </div>
        </div>
        <div class="bills-content">
          <table class="default-dg-table">
            <tr class="">
              <th class="bills-show-table-head-th
                default_dg_th dg-left dg-nowrap dg1">
              <%= t "admin.bills.item_type" %></th>
              <th class="bills-show-table-head-th
                default_dg_th dg-left dg-nowrap dg1">
              <%= t "admin.bills.name_item" %></th>
              <th class="bills-show-table-head-th
                default_dg_th dg-left dg-nowrap dg1">
              <%= t "admin.bills.quantity" %></th>
              <th class="bills-show-table-head-th
                default_dg_th dg-left dg-nowrap dg1">
              <%= t "admin.bills.price" %></th>
              <th class="bills-show-table-head-th
               default_dg_th dg-left dg-nowrap dg1">
                 <%= t "admin.bills.total" %>
               </th>
            </tr>
            <% if @bill.bill_details.any? %>
              <% @bill.bill_details.each do |item| %>
                <tr>
                  <td class="default_dg_th dg-left dg-nowrap dg1">
                    <span class="bills-type">
                      <%= item.type_name %>
                    </span>
                  </td>
                  <td class="default_dg_th dg-left
                    dg-nowrap dg1"><%= item.item.name %>
                    <br>
                    <span class="color-ff4b00">- <%= item.discount %>%</span>
                  </td>
                  <td class="default_dg_th dg-left
                    dg-nowrap dg1"><%= item.quantity %>
                  </td>
                  <td class="default_dg_th dg-left
                    dg-nowrap dg1"><%= number_to_currency item.price %>
                  <br>
                  <span class="color-ff4b00">
                    <%= number_to_currency item.price * (100 - item.discount) / 100 %>
                  </span>
                  </td>
                  <td class="default_dg_th dg-left
                    dg-nowrap dg1"><%= number_to_currency item.price * item.quantity %>
                    <br>
                    <span class="color-ff4b00">
                      <%= number_to_currency item.total_price %>
                    </span>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </table>
        </div>
        <div class="bills-footer">
          <p class="bills-footer-voucher">
            <span><%= t "admin.bills.voucher" %>: </span>
            -<%= @bill.discount %>%
          </p>
          <p class="bills-footer-membership">
            <span><%= t "admin.bills.membership" %>: </span>
            -<%= @bill.membership_discount %>%
          </p>
          <p class="bills-total-price">
           <span><%= t "admin.bills.total" %>: </span>
           <%= number_to_currency @bill.total %>
          </p>
          <div class="bills-footer-action">
            <%= link_to t("admin.bills.export_pdf"),
              admin_bill_path(@bill.id, format: "pdf"),
              class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
