<% cooking_dishes.each do |dish| %>
  <tr class="dish_<%= dish.id %>" draggable="true">
    <td><%= dish.dish.name %></td>
    <td><%= dish.quantity %></td>
    <td><%= dish.dish.class%></td>
    <td>
      <%= form_for dish,
        url: admin_order_order_dish_path(dish.order_id, dish) do |f| %>
        <%= f.hidden_field :dish_id, value: dish.dish_id %>
        <%= f.hidden_field :status,
          value: :cooked,
          class: "btn btn-primary" %>
        <%= f.button t "admin.cooked" %>
      <% end %>
    </td>
  </tr>
<% end %>
