<% needing_combos.each do |combo| %>
  <tr>
    <td><%= combo.combo.name %></td>
    <td><%= combo.quantity %></td>
    <td><%= combo.combo.class%></td>
    <td>
      <%= form_for combo,
        url: admin_order_order_combo_path(combo.order, combo) do |f| %>
        <%= f.hidden_field :combo_id, value: combo.id %>
        <%= f.hidden_field :status,
          value: :cooking,
          class: "btn btn-primary" %>
        <%= f.button t "admin_order.cooking" %>
      <% end %>
    </td>
  </tr>
<% end %>
