<section class="section admin-site">
  <div class="col-sm-12 col-xs-12">
    <h1><%= t "admin_role.chef" %></h1>
    <br>
    <div class="bloc col-xs-12" id="chef-home-page">
      <div class="row container1" id="order-list-in-chef">
        <div class="col-sm-3">
          <h3 class="text-center"><%= t "admin.needing" %></h3>
          <div class="row chef-row">
            <div class="col-xs-10"><%= t "admin.combos.new.name" %></div>
            <div class="col-xs-2"><%= t "staff_order.quantity" %></div>
          </div>
          <ol class="simple_with_animation vertical list-group" status="needing">
            <%= render "form_dish_needing",
              needing_dishes: @order_dishes.dishes("needing") %>
            <%= render "form_combo_needing",
              needing_combos: @order_combos.combos("needing") %>
          </ol>
        </div>
        <div class="col-sm-3">
          <h3 class="text-center"><%= t "admin.cooking" %></h3>
          <div class="row chef-row">
            <div class="col-xs-10"><%= t "admin.combos.new.name" %></div>
            <div class="col-xs-2"><%= t "staff_order.quantity" %></div>
          </div>
          <ol class="simple_with_animation vertical list-group" status="cooking">
            <%= render "form_dish_cooking",
              cooking_dishes: @order_dishes.dishes("cooking") %>
            <%= render "form_combo_cooking",
              cooking_combos: @order_combos.combos("cooking") %>
          </ol>
        </div>
        <div class="col-sm-3">
          <h3 class="text-center"><%= t "admin.done" %></h3>
          <div class="row chef-row">
            <div class="col-xs-10"><%= t "admin.combos.new.name" %></div>
            <div class="col-xs-2"><%= t "staff_order.quantity" %></div>
          </div>
          <ol class="simple_with_animation vertical list-group" status="cooked">
            <%= render "form_dish_done",
              done_dishes: @order_dishes.dishes("cooked") %>
            <%= render "form_combo_done",
              done_combos: @order_combos.combos("cooked") %>
          </ol>
        </div>
        <div class="col-sm-3">
          <h3 class="text-center"><%= t "admin.cancel" %></h3>
          <div class="row chef-row">
            <div class="col-xs-10"><%= t "admin.combos.new.name" %></div>
            <div class="col-xs-2"><%= t "staff_order.quantity" %></div>
          </div>
          <ol class="simple_with_animation vertical list-group" status="cancel">
            <%= render "form_dish_cancel",
              cancel_dishes: @order_dishes.dishes("cancel") %>
            <%= render "form_combo_cancel",
              cancel_combos: @order_combos.combos("cancel") %>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "modal_cancel" %>
