<%= search_form_for [:admin, customers.search],
  remote: true, method: :get do |f| %>
  <div class="pj-form-filter-advanced col-sm-12">
    <span class="pj-menu-list-arrow"></span>
    <div class="pj-form pj-form-search">
      <div class="customer-search">
        <p>
          <%= f.label :code_cont, t("admin.customers.customer.code"),
            class: "customer-search-title" %>
          <span class="inline-block">
            <%= f.text_field :code_cont,
              class: "pj-form-field customer-search-field" %>
          </span>
        </p>
        <p>
          <%= f.label :name_cont, t("admin.customers.customer.name"),
            class: "customer-search-title" %>
          <span class="inline-block">
            <%= f.text_field :name_cont,
              class: "pj-form-field customer-search-field" %>
          </span>
        </p>
      </div>
      <div class="customer-search">
        <p>
          <%= f.label :phone_num_cont, t("admin.customers.customer.phone"),
            class: "customer-search-title" %>
          <span class="inline-block">
            <%= f.number_field :phone_num_cont,
              class: "pj-form-field customer-search-field" %>
          </span>
        </p>
        <p>
          <%= f.label :email_cont, t("admin.customers.customer.email"),
            class: "customer-search-title" %>
          <span class="inline-block">
            <%= f.text_field :email_cont,
              class: "pj-form-field customer-search-field" %>
          </span>
        </p>
        <br>
      </div>
      <center class="actions">
        <%= f.submit  t(".search"), class: "btn btn-success customers-search-button" %>
        <%= link_to t("staff_order.cancel"), {remote: true},
          class: "btn btn-default customers-search-button", id: "clear" %>
      </center>
    </div>
  </div>
  <%= render "customers_content", customers: customers %>
  <div id="pagination" class="apple-pagination">
    <%= paginate customers.customers_search, remote: true %>
  </div>
<% end %>
