<div class="modal cancel" data-id="<%= item.id %>">
  <div class="modal-content modal-sm">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2 class="text-center"><%= name %></h2>
    </div>
    <div class="modal-body">
      <div class="row row-padding">
          <div class="col-sm-8 text-center modal-part modal-left">
            </br>
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                <input placeholder="<%= t "modal_declined_because" %>"
                  class="input-form form-control" data="<%= item.id %>">
                </input>
                <%= hidden_field_tag :staff_id, current_staff.id %>
              </div>
            </div>
          </div>
          <div class="col-sm-4 text-center modal-part modal-left">
            <div class="btn-check">
              <i class="fa fa-paper-plane submit-cancel-item"
                data-id ="<%= item.id %>" type="<%= item_type %>">
              </i>
            </div>
          </div>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
