<tr data-toggle="tooltip"
  title=
  "<%= order.filter_reasons if order.declined? && order.reasons.any? %>"
  class="order_<%= order.id %> <%= "text-cross-line" if order.declined? %>">
  <td class="order_code_<%= order.id %>">
    <%= link_to order.code, admin_order_path(order) %>
  </td>
  <td class="order_day_<%= order.id %>"><%= order.day.in_time_zone(
    Settings.time_zone).strftime(t "date_default") %></td>
  <td class="order_time_in_<%= order.id %>">
    <%= order.time_in %>
  </td>
  <td class="order_name_<%= order.id %>">
    <%= order.customer.name %>
  </td>
  <td class="text-center order_table_id_<%= order.id %>">
    <%= order.table_id %>
  </td>
  <td class="text-center order_capacity_<%= order.id %>">
    <%= order.capacity %>
  </td>
  <td class="text-center order_discount_<%= order.id %>"><%= order.discount %>
    <i class="fa fa-percent"></i></td>
  <%= render "order_status", order: order %>
  <%= render "modal_confirm", order: order %>
</tr>
