<section class="section admin-site order-admin">
  <br><br>
  <div class="col-sm-10 col-sm-offset-1">
    <h1><%= t ".title" %></h1><br><br>
    <div class="bloc">
      <br>
      <%= render "order_info", order: @order %>
      <br><br>
      <h3 class="title order-item"><%= t "order.order_items" %> <span></span></h3>
      <br><br>
      <%= render "order_item", order: @order %>
    </div>
  </div>
  <%= render "modal", order: @order, discount: @support %>
</section>
