<section class="section admin-site order-admin">
  <br><br>
  <div class="col-sm-10 col-sm-offset-1">
    <h1><%= t ".title" %></h1><br><br>
    <div class="bloc">
      <br>
      <%= render "order_info", order: @order,
        membership_coupons: @membership_coupons %>
      <br><br>
      <h3 class="title order-item">
        <%= t "order.order_items" %>
        <span></span>
      </h3>
      <button class="btn btn-default pull-right">
        <i class="fa fa-lg fa-ban"></i>
        <%= t "button_cancel_show_order" %>
      </button><br />
      <button class="btn btn-default pull-right">
        <i class="fa fa-times"></i>
        <%= t "button_delete_show_order" %>
      </button><br />
      <br><br>
      <%= render "order_item", order: @order %>
      <div class="text-right">
      <% if @order.done? && @order.bill.present? %>
        <div class="payment">
          <%= link_to t("order.payment"), admin_bill_path(@order.bill),
          class:"btn payment-btn-style" %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render "modal", order: @order, discount: @discount %>
</section>
