<section class="section admin-site order-admin">
  <br><br>
  <div class="col-sm-10 col-sm-offset-1">
    <h1><%= t ".title" %></h1><br><br>
    <div class="bloc">
      <br>
      <%= render "order_info", order: @order,
        membership_coupons: @membership_coupons %>
      <br><br>
      <h3 class="title order-item">
        <%= t "order.order_items" %>
        <span></span>
      </h3>
      <i class="fa fa-lg fa-ban pull-right">
        <%= t "button_cancel_show_order" %>
      </i>
      <i class="fa fa-lg fa-times pull-right">
        <%= t "button_delete_show_order" %>
      </i>
      <br><br>
      <%= render "order_item", order: @order %>
      <div class="text-right">
      <% if @order.done? %>
        <div class="payment">
          <button class="btn payment-btn">
            <%= t "order.payment" %>
          </button>
        </div>
      <% end %>
    </div>
  </div>
  <%= render "modal", order: @order, discount: @discount %>
</section>
