<section class="section admin-site">
  <div class="col-sm-12 col-xs-12">
    <h1><%= t "admin.staff_management" %></h1>
    <br>
    <div class="bloc col-xs-8 col-xs-offset-2">
      <h3>
        <div class="button-new-staff btn btn-primary">
          <i class="fa fa-fw fa-plus"></i><%= t "admin_users.new_admin" %>
        </div>
      </h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= t "admin.email" %></th>
            <th><%= t "admin.name_field" %></th>
            <th><%= t "admin.role" %></th>
            <th><%= t "admin.orders.order.action" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render "staffs_list", list_staff: @list_staff %>
        </tbody>
      </table>
      <%= paginate @list_staff %>
    </div>
  </div>
</section>
