<ul class="nav navbar-nav navbar-right animated wow"
  data-wow-delay="0.1s">
  <% if can? :view, Customer %>
    <li class="dpdwn smoothScroll animated fadeInLeft wow">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <%= t "admin.manage" %>
        <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <% if can? :view, Customer %>
          <li>
            <%= link_to t("admin.customer"), admin_customers_path,
              class: "smoothScroll animated fadeInLeft wow",
              "data-wow-delay": "0.1s", method: :get %>
          </li>
        <% end %>
        <% if can? :manage, :all %>
          <li>
            <%= link_to t("admin.membership"), admin_membership_coupons_path,
              class: "smoothScroll animated fadeInLeft wow",
              "data-wow-delay": "0.1s", method: :get %>
          </li>
        <% end %>
        <% if can? :view, Category %>
          <li>
            <%= link_to t("admin.category"), admin_categories_path,
              class: "smoothScroll animated fadeInLeft wow",
              "data-wow-delay": "0.1s", method: :get %>
          </li>
        <% end %>
        <% if can? :view, Dish %>
          <li>
            <%= link_to t("admin.dish"), admin_dishes_path,
              class: "smoothScroll animated fadeInLeft wow",
              "data-wow-delay": "0.1s", method: :get %>
          </li>
        <% end %>
        <% if can? :view, Combo %>
          <li>
            <%= link_to t("admin.combo"), admin_combos_path,
              class: "smoothScroll animated fadeInLeft wow",
              "data-wow-delay": "0.1s", method: :get %>
          </li>
        <% end %>
        <% if can? :view, Promo %>
          <li>
            <%= link_to t("admin.promo"), admin_promos_path,
              class: "smoothScroll animated fadeInLeft wow",
              "data-wow-delay": "0.1s", method: :get %>
          </li>
        <% end %>
        <% if can? :view, DiscountCode %>
          <li>
            <%= link_to t("admin.discount"), admin_discount_codes_path,
              class: "smoothScroll animated fadeInLeft wow",
              "data-wow-delay": "0.1s", method: :get %>
          </li>
        <% end %>
        <% if can? :manage, :all %>
          <li><%= link_to t("admin.staff"), admin_staffs_path,
            class: "smoothScroll animated fadeInLeft wow",
            "data-wow-delay": "0.1s", method: :get %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <% if can? :update, Order %>
    <li class="dpdwn smoothScroll animated fadeInLeft wow">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <%= t "admin.orderr" %>
        <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to t("admin.order"), admin_orders_path,
          class: "smoothScroll animated fadeInLeft wow",
          "data-wow-delay": "0.1s", method: :get %></li>
        <li><%= link_to t("admin.bill"), admin_bills_path,
          class: "smoothScroll animated fadeInLeft wow",
          "data-wow-delay": "0.1s", method: :get %></li>
      </ul>
    </li>
  <% end %>
  <% if can? :manage, :all %>
    <li>
      <%= link_to t("admin.dashboard"), admin_dashboards_path,
      class: "smoothScroll animated fadeInLeft wow",
      "data-wow-delay": "0.1s", method: :get %>
    </li>
  <% end %>
  <li class="nav">
    <%= link_to t("admin.profile"), edit_staffs_path,
      class: "smoothScroll animated fadeInLeft wow",
      "data-wow-delay": "0.1s", method: :get %>
  </li>
  <li>
    <%= link_to logout_path, class: "smoothScroll animated fadeInLeft wow",
      "data-wow-delay": "0.1s", method: :delete  do %>
      <i class="fa fa-lg fa-sign-out fa-lg"></i>
    <% end %>
  </li>
</ul>
